.datagrid table tr th:nth-child(1){
width:20%;
}
.datagrid table tr td:nth-child(2){
width:20%;
}
.datagrid table{
width:90%;
}
div#foros{
width:90%;
position:relative;
left:5%;
-webkit-border-radius: 20px;
-webkit-border-top-left-radius: 40px;
-moz-border-radius: 20px;
-moz-border-radius-topleft: 40px;
border-radius: 20px;
border-top-left-radius: 40px;
border:solid 2px black;
top:20px;
}

div#foros table{
margin:2px;

}

.datagrid table { 
border-collapse: collapse; 
text-align: left; 
width: 90%; 
} 
.datagrid {
font: normal 12px/150% Arial, Helvetica, sans-serif; 
background: #fff; overflow: hidden;
 border: 1px solid #006699;
 -webkit-border-radius: 11px;
 -moz-border-radius: 11px; 
border-radius: 11px; 
}
.datagrid table td, .datagrid table th {
padding: 13px 20px;
 }
.datagrid table thead th {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
background-color:#006699; color:#FFFFFF; font-size: 20px; font-weight: bold; border-left: 0px solid #0070A8; 
} 
.datagrid table thead th:first-child { 
border: none; 
}
.datagrid table tbody td { 
color: #00496B; 
font-size: 17px;
font-weight: normal; 
}
.datagrid table tbody .alt td { 
background: #E1EEF4;
 color: #00496B; }
.datagrid table tbody td:first-child {
 border-left: none; 
}
.datagrid table tbody tr:last-child td 
{ 
border-bottom: none; 
}