/*@media screen and (min-device-width : 1024px){
@keyframes jitter{ 50%{transform:skewY(0.7deg) skewX(-0.7deg) scale(1.006);} }*/
#inf{
margin:10px;
padding: 20px 60px 20px 60px;

width:400px;
border: 2px solid rgb(137,195,235);
   border-radius: 5px;
font-size:20px;
position:relative;
left:30%;
color:rgb(137,195,235);
}

a {
color:#0080ff;
 text-decoration: none; 
padding: 1px 3px; display: inline-block; 
-webkit-transition: all 1s linear; 
-moz-transition: all 1s linear; 
-ms-transition: all 1s linear; -o-transition: all 1.4s linear;
 transition: all 1s linear;
 }
 a:hover {
 background: #ccc; 
color: white; 
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4); 
-webkit-transform: scale(1.5,1.5); -moz-transform: scale(1.5,1.5); 
-ms-transform: scale(1.5,1.5); -o-transform: scale(1.5,1.5); 
transform: scale(1.5,1.5); -webkit-transition: all .8s linear; 
-moz-transition: all .8s linear; -ms-transition: all .8s linear;
 -o-transition: all .8s linear; transition: all .8s linear; 
}
/*}*/
/*--------------------------------------------*/
/*-------------------------------------------*/
/*----------------------------------------------*/
/*@media screen and (max-device-width : 1023px)  and (orientation : landscape){
@keyframes jitter{ 50%{transform:skewY(0.7deg) skewX(-0.7deg) scale(1.006);} }

#inf{
margin:10px;
padding: 20px 60px 20px 60px;
height:150px;
width:400px;
border: 2px solid rgb(137,195,235);
   border-radius: 5px;
font-size:20px;
position:relative;
left:20%;
color:rgb(137,195,235);
}

a {
color:#0080ff;
 text-decoration: none; 
padding: 1px 3px; display: inline-block; 
-webkit-transition: all 1s linear; 
-moz-transition: all 1s linear; 
-ms-transition: all 1s linear; -o-transition: all 1.4s linear;
 transition: all 1s linear;
 }
 a:hover {
 background: #ccc; 
color: white; 
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4); 
-webkit-transform: scale(1.5,1.5); -moz-transform: scale(1.5,1.5); 
-ms-transform: scale(1.5,1.5); -o-transform: scale(1.5,1.5); 
transform: scale(1.5,1.5); -webkit-transition: all .8s linear; 
-moz-transition: all .8s linear; -ms-transition: all .8s linear;
 -o-transition: all .8s linear; transition: all .8s linear; 
}
}

@media screen and  (max-device-width : 1023px) and (orientation: portrait){
@keyframes jitter{ 50%{transform:skewY(0.7deg) skewX(-0.7deg) scale(1.006);} }

#inf{
margin:10px;
padding: 20px 60px 20px 60px;
height:600px;
width:400px;
border: 2px solid rgb(137,195,235);
   border-radius: 5px;
font-size:3em;
position:relative;
left:20%;
color:rgb(137,195,235);
}

a {
color:#0080ff;
 text-decoration: none; 
padding: 1px 3px; display: inline-block; 
-webkit-transition: all 1s linear; 
-moz-transition: all 1s linear; 
-ms-transition: all 1s linear; -o-transition: all 1.4s linear;
 transition: all 1s linear;
 }
 a:hover {
 background: #ccc; 
color: white; 
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4); 
-webkit-transform: scale(1.5,1.5); -moz-transform: scale(1.5,1.5); 
-ms-transform: scale(1.5,1.5); -o-transform: scale(1.5,1.5); 
transform: scale(1.5,1.5); -webkit-transition: all .8s linear; 
-moz-transition: all .8s linear; -ms-transition: all .8s linear;
 -o-transition: all .8s linear; transition: all .8s linear; 
}
}*/