.button1 {
float:left;
position:relative;
top:10px;
right:10px;
   border-top: 1px solid #f2182a;
   background: #eb1d49;
   background: -webkit-gradient(linear, left top, left bottom, from(#e83131), to(#eb1d49));
   background: -webkit-linear-gradient(top, #e83131, #eb1d49);
   background: -moz-linear-gradient(top, #e83131, #eb1d49);
   background: -ms-linear-gradient(top, #e83131, #eb1d49);
   background: -o-linear-gradient(top, #e83131, #eb1d49);
   padding: 3.5px 7px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 10px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button1:hover {
   border-top-color: #bd1717;
   background: #bd1717;
   color: #e3b1bf;
   }
.button1:active {
   border-top-color: #ff0000;
   background: #ff0000;
   }
@media screen and (min-device-width : 1025px){
@keyframes jitter{ 50%{transform:skewY(0.7deg) skewX(-0.7deg) scale(1.006);} }
#mapas_de_google{
position:fixed;
width:40%;
left:60%;
top:6.3em;
}

#map_canvas{
width:400px; 
height:400px;
}}
@media screen and (max-device-width : 1024px) and (orientation: landscape) {
@keyframes jitter{ 50%{transform:skewY(0.7deg) skewX(-0.7deg) scale(1.006);} }
#mapas_de_google{
position:fixed;
width:40%;
left:55%;
top:6.3em;
}
#map_canvas{
width:100%; 
height:300px;
}}
@media screen and (max-device-width : 1024px) and (orientation: portrait) {
@keyframes jitter{ 50%{transform:skewY(0.7deg) skewX(-0.7deg) scale(1.006);} }
#mapas_de_google{
position:fixed;
width:40%;
left:55%;
top:50em;
}
#map_canvas{
width:100%; 
height:250px;
}}