@media screen and (min-device-width : 1025px){
@keyframes jitter{ 50%{transform:skewY(0.7deg) skewX(-0.7deg) scale(1.006);} }
.button {
   border-top: 1px solid #96d1f8;
   background: #7dc2f0;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#7dc2f0));
   background: -webkit-linear-gradient(top, #3e779d, #7dc2f0);
   background: -moz-linear-gradient(top, #3e779d, #7dc2f0);
   background: -ms-linear-gradient(top, #3e779d, #7dc2f0);
   background: -o-linear-gradient(top, #3e779d, #7dc2f0);
   padding: 11.5px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
width:20%;

   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 24px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
input#bus{
display:none;
}

}

@media screen and (max-device-width : 1024px) {
@keyframes jitter{ 50%{transform:skewY(0.7deg) skewX(-0.7deg) scale(1.006);} }
a.button{
display:inline-block;
overflow:auto;
height:25px;
}
.button {
   border-top: 1px solid #96d1f8;
   background: #7dc2f0;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#7dc2f0));
   background: -webkit-linear-gradient(top, #3e779d, #7dc2f0);
   background: -moz-linear-gradient(top, #3e779d, #7dc2f0);
   background: -ms-linear-gradient(top, #3e779d, #7dc2f0);
   background: -o-linear-gradient(top, #3e779d, #7dc2f0);
   padding: 11.5px;
width:20%;

   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 24px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
}
.button:hover {
   border-top-color: #359ade;
   background: #359ade;
   color: #ffffff;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

div#tema_nuevo{
width:90%;
position:relative;
left:5%;
}
input#bus{
display:block;
}
div#buscador{
position:absolute;
width:90%;
-webkit-box-shadow: 5px 4px 3px #000000;
  -moz-box-shadow: 5px 4px 3px #000000;
  box-shadow: 5px 4px 3px #000000;
left:5%;
top:6.3em;
display:none;
background: rgba(147,206,222,0.8);
background: -moz-linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(73,165,191,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(100%, rgba(73,165,191,1)));
background: -webkit-linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(73,165,191,1) 100%);
background: -o-linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(73,165,191,1) 100%);
background: -ms-linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(73,165,191,1) 100%);
background: linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(73,165,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
border-radius: 98px 40px 102px 40px;
-moz-border-radius: 98px 40px 102px 40px;
-webkit-border-radius: 98px 40px 102px 40px;
border: 7px double #000000;
}
.button1 {
float:right;
position:relative;
top:10px;
right:10px;
   border-top: 1px solid #f2182a;
   background: #eb1d49;
   background: -webkit-gradient(linear, left top, left bottom, from(#e83131), to(#eb1d49));
   background: -webkit-linear-gradient(top, #e83131, #eb1d49);
   background: -moz-linear-gradient(top, #e83131, #eb1d49);
   background: -ms-linear-gradient(top, #e83131, #eb1d49);
   background: -o-linear-gradient(top, #e83131, #eb1d49);
   padding: 3.5px 7px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 10px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button1:hover {
   border-top-color: #bd1717;
   background: #bd1717;
   color: #e3b1bf;
   }
.button1:active {
   border-top-color: #ff0000;
   background: #ff0000;
   }
div#buscador table td{
border:0.5px solid black;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 5px 4px 3px #000000;
  -moz-box-shadow: 5px 4px 3px #000000;
  box-shadow: 5px 4px 3px #000000;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
margin-left:40%;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}